<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Microsoft Certified Associate with Business and Data Analysis skills and exceptional abilities in competitor analysis, business intelligence development and trend assessment. Well-versed in implementation of operational assessments and conducting functional requirements analysis. Adept at leveraging BI data with proven Power BI skills thus providing comprehensive syntheses deriving actionable business insights.
            </p>
            <p class="paragraph-text justify-text">
                Before you go ahead and discover my repos on Github, here's one of my favorite comic strips!
                <img src="/assests/images/comic1.png"/>
            </p>
        </div>
    </section>
</div>
