<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Microsoft Certified Associate with Business and Data Analysis skills and exceptional abilities in competitor analysis, business intelligence development and trend assessment. Well-versed in implementation of operational assessments and conducting functional requirements analysis. Adept at leveraging BI data with proven Power BI skills thus providing comprehensive syntheses deriving actionable business insights.
            </p>
            <p class="paragraph-text justify-text">
                Before you go ahead and discover my repos on Github, here's one of my favorite comic strips!
            </p>
            <img style="width: 450px; height: 400px" src="assets/images/comic1.PNG"/>
            <p class="paragraph-text justify-text">
                <a href="https://henrykotula.com/2016/04/18/cartoon-data-analysis/"> Here's </a> another one!
            </p>
            <img style="" src="assets/images/comic2.png"/>
            <p class="paragraph-text justify-text">
                And lastly my favorite one from <a href="https://xkcd.com/539/">xkcd!</a> :P
            </p>
            <img style="" src="https://imgs.xkcd.com/comics/boyfriend.png"/>
        </div>
    </section>
</div>
